<div class="viewport">


  <%= simple_form_for current_user, url: user_path, method: :put do |f| %>
  <%= f.input :first_name, placeholder: "Paolo" %>
  <%= f.input :last_name, placeholder: "Rossi" %>
  <%= f.input :email, placeholder: "paolo.rossi@gmail.com" %>
  <%= f.input :age, placeholder: 28 %>
  <%= f.input :gender, placeholder: "Male" %>
  <%= f.input :radius_search, placehoder: 2 %>

  <div class="buttons-edit-logout-search">
    <!-- DIV CSS IS IN _BUTTONS.SCSS IN "HISTORY OF ORDERS FOR USERS" -->
  <%= f.submit "Update profile", class: "edit-delete-profile-buttons" %>

  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>

  <%= link_to "Go to search!", root_path, class: "search-link-to-buttons" %>
  </div>
  <% end %>


</div>



<<<<<<< HEAD
<%= link_to "Destroy your account", destroy_user_session_path,
      method: :delete,
      data: { confirm: "Are you sure you want to delete your account?" } %>
=======
>>>>>>> 655929e348382dfe033637fbc746da8e1eae4c30
