<% if flash[:notice] %>
<%=  javascript_pack_tag 'notify-order-deleted' %>
<% end %>

<div class="foodie-container">
     <!--  <div class="user-info">
        % if current_user.first_name != "" %>
        <h1>Welcome %=  current_user.first_name %></h1>
        % else %>
        <h1>Welcome</h1>
        % end %>
      </div> -->
      <% if current_user.orders != []%>
      <div class="user-orders">
        <!-- <h2 class="your-orders">Order history</h2> -->
        <!-- <p><strong> LAST ORDER </strong></p> -->
        <% current_user.orders.reverse.each_with_index do |order,i| %>

        <p class="order-date"><%= order.created_at.strftime("%B %e") %> </p>
        <div class="order-item">
          <div class="order-content">
            <div class="order-item-header">
              <h6>Order <%= i + 1 %></h6>
              <div class="order-item-status">
                <% if order.within_five? &&  order.active? %>
                <p class="badge-foodie">Cooking</p>
                <% elsif order.canceled? %>
                <p class="badge-foodie">Canceled</p>
                <% else %>
                <p class="badge-foodie">Delivered</p>
                <% end %>
              </div>
            </div>
            <h2><%= order.meal.name %></h2>

            <!-- <h6>You paid</h6> -->
            <h6><%= humanized_money_with_symbol(order.meal.price) %>.00</h6>
            <p>in</p>
            <h6><%= order.meal.restaurant.name %></h6>
            <p><%= order.meal.restaurant.address.gsub(/\d{5}/, "") %></p>
          </div>
          <div class="order-actions">
            <a class="order-get-directions" href="http://maps.google.com/maps?q=<%= order.meal.restaurant.latitude %>,<%= order.meal.restaurant.longitude %>">
              <div>
                <p>Get directions</p>
              </div>
            </a>
            <a class="order-get-directions" href="">
              <div>
                <p>Call restaurant</p>
              </div>
            </a>
            <div class="order-item-cancel">
              <% if order.within_five? && order.active? %>
              <%= simple_form_for [order.meal, order] do |f| %>
              <%= hidden_field_tag 'order_status', 'canceled' %>
              <%= f.button :submit, 'Cancel order', id: 'cancel-order' %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>

        <% else %>
        <div class="orders-zero-message">
          <a href="/">You have 0 orders, start ordering now with Foodie! </a>
        </div>
        <% end %>
      </div>
    </div>


    <% if @orders != []%>
    <%= javascript_pack_tag 'notify' if @orders.last.within_3sec? %>
    <% end %>


<!--
<div class="">
>%= link_to "Edit your profile", edit_user_path(current_user), class: ""%>
>%= link_to destroy_user_session_path, method: :delete do %>
<i class="fa fa-sign-out"></i>  >%= t(".sign_out", default: "Log out") %>
>% end %>
>%= link_to "Go to search!", root_path, class: "" %>
</div> -->
