<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.radius_search %></p>
<%= simple_form_for @user do |f| %>
<%= f.input :radius_search %>
<%= f.submit %>
<% end %>
<%= link_to "Edit your profile", edit_user_path(@user) %>


<%= link_to destroy_user_session_path, method: :delete do %>
  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
<% end %>
