<div class="navbar">
    <%= link_to "foodie", root_path, class: "logo" %>
  <input id="burger-menu" type="checkbox" />

  <label for="burger-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <ul>
      <% if user_signed_in? %>
      <!-- Links when logged in -->
      <li><%= link_to t('Search'), root_path %></li>
      <li><%= link_to t('Profile'), edit_user_path(current_user) %></li>
      <li><%= link_to t('Orders'), user_path(current_user) %></li>
      <li><%= link_to t('Logout'), destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to t('Login'), new_user_session_path %></li>
      <li><%= link_to t('Sign up'), new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
