<div class="foodie-wrapper">
  <div id="viewport">
    <div class="order-box">
      <div class="order-info">
        <h1>Order summary:</h1>
        <div class="order-meal-box">
          <h2>Your meal</h2>
          <div class="order-meal">
            <p>1x <%= @meal.name %> </p>
            <p><%=humanized_money_with_symbol(@meal.price) %></p>
          </div>
        </div>
        <div class="order-restaurant-box">
          <h2>Pick up at</h2>
          <p class="order-restaurant"><%= @meal.restaurant.name %></p>
          <p class="order-address"><i class="material-icons">place</i> <%= @meal.restaurant.address.gsub(/\d{5}/, "") %> (<%= @distance_to %>km)</p>
        </div>

        <div class="div-time-buttons">
          <p>Select your time of arrival</p>
          <select name="pick-up">
            <option value="15">in 15 minutes</option>
            <option value="30">in 30 minutes</option>
            <option value="45">in 45 minutes</option>
            <option value="60">in 60 minutes</option>
          </select>
        </div>
      </div>
      <div class="order-pay">
        <%= form_tag meal_orders_path(@meal, @order) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
        data-label="Total <%=humanized_money_with_symbol(@meal.price) %>"
        data-name="<%= @meal.name %>"
        data-email="<%= current_user.email %>"
        data-description="Your are paying for meal with id: <%= @meal.id %>"
        data-amount="<%= @meal.price_cents %>"
        data-currency="EUR"></script>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!--
          <form action="">
            <input id="button-15-min" class="time-buttons" type="button" name="time" value="15">
            <input id="button-30-min" class="time-buttons" type="button" name="time" value="30">
            <input id="button-45-min" class="time-buttons" type="button" name="time" value="45">
            <input id="button-60-min" class="time-buttons" type="button" name="time" value="60">
          </form>



          <form action="/meals/ = m.id %>/orders/new">
                    <input type="radio" id="15min" name="pickup-in" value="15">
                    <label for="15min"> = tag.capitalize %></label>
                    <input type="radio" id="30min" name="pickup-in" value="30">
                    <label for="30min"> = tag.capitalize %></label>
                    <input type="radio" id="45min" name="pickup-in" value="45">
                    <label for="45min"> = tag.capitalize %></label>
                    <input type="radio" id="60min" name="pickup-in" value="60">
                    <label for="60min"> = tag.capitalize %></label>
 -->
