<div id="viewport">
  <ul class="stack">
    <% @meals.each do |m| %>
    <li>
      <div class="card-photo" style= "background-image: url('<%= m.photo %>'); "></div>
      <div class="card-header">
        <p class="card-meal-name"><%= m.name %></p>
        <p class=" card-meal-price"><%=humanized_money_with_symbol(m.price) %></p>
      </div>
    </li>
    <% end %>
  </ul>
</div>


<%= javascript_pack_tag 'card-stack' %>
<%= javascript_pack_tag 'swing' %>

      <!--
      <p> m.restaurant.name </p>
      <p> m.restaurant.address </p>

      if m.restaurant.latitude
        <p> m.restaurant.distance_from([@lat.to_f,@lng.to_f]).round(2) km </p>
      end
      <p>m.description </p>
      -->
