  <h1><%= "#{@lat}, #{@lng}" %></h1>


  <ul>
  <% @meals.each do |m| %>
  <li>
    <p><%= m.restaurant.name %></p>
    <p><%= m.restaurant.address %></p>
    <p><%= m.name %></p>
    <p><%=humanized_money_with_symbol(m.price) %></p>
    <p><%= image_tag(m.photo, size: "250x200") %></p>
  </li>
  <% end %>
</ul>

<%= javascript_pack_tag 'positioning' %>




