<% if @params %>
  <h1><%= "#{@lat}, #{@lng}" %></h1>


  <ul>
  <% @meals.each do |meal| %>
  <li>
    <%= link_to meal_path(meal) do %>
    <p><%= meal.restaurant.name %></p>
    <p><%= meal.restaurant.address %></p>
    <p><%= meal.name %></p>
    <p><%=humanized_money_with_symbol(meal.price) %></p>
    <p><%= image_tag(meal.photo, size: "250x200") %></p>
   <% end %>
  </li>
  <% end %>
</ul>

<% else %>


<!-- ADD OTHER FILTERS HERE -->

<% end %>





