<div class="foodie-wrapper">
  <div id="viewport">

    <ul class="stack">
      <% @meals.each do |m| %>
      <li class="flip-container" >
        <div class="flipper">

          <div class="front">
            <div class="touchable-front">
              <div class="card-photo" data-background-image="<%= m.photo.gsub(/http\:\/\//, "https://") %>" ></div>
              <div class="card-header">
                <h2 class="card-meal-name"><%= m.name.split(" ").first(3).join(" ") %></h2>
                <h2 class=" card-meal-price"><%=humanized_money_with_symbol(m.price) %></h2>
              </div>
            </div>
          </div>

          <div class="back">
            <div class="touchable-back">

              <%
              final_url = "https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/pin-l+9ed4bd(#{@lng},#{@lat}),pin-l+000(#{m.restaurant.longitude},#{m.restaurant.latitude})#{",path-5+4A3899-1(#{@paths[m.id]})" if @paths[m.id]}/auto/600x400?logo=false&attribution=false&access_token=pk.eyJ1Ijoib2Rwb2xvIiwiYSI6ImNqOXQ0YzY3NTNuOGYzM2xnMTMzN3AwMWgifQ.pylpAlDnFVGkJPfl5-N-ng"
              %>

              <div class="map" data-background-image="<%= final_url %>">
              </div>
              <div class="card-info">
                <h3><%= m.name %></h3>
                <p><%= m.description %></p>
              </div>
            </div>
            <div class="card-button">
              <form action="/meals/<%= m.id %>/orders/new">
                <button type="submit">Order now!</button>
              </form>
            </div>
          </div>
        </div>

      </li>
      <% end %>
      <!-- TUTORIAL -->
      <li class="flip-container" >
        <div class="flipper" id="tutorial-card">
          <div class="front">
            <div class="touchable-front card-centered-content">
              <div class="card-instructions">
                <h2><span>Touch</span> to see more details!</h2>
              </div>
            </div>
          </div>

          <div class="back">
            <div class="touchable-front">
              <div class="card-instructions">
                <h2>Don't like it?</h2>
                <h2>Just <span>swipe left</span> to discard</h2>
              </div>
            </div>
          </div>
        </div>
      </li>
       <a href="/">
      <div class="end-card">
        <div class="finish-cards">
          <h2><span>Click</span> to search again</h2>
          <!-- <h2>Not what you were looking for? </h2> -->
          <!-- <h2>Go back to search</h2> -->
        </div>
      </div>
     </a>
    </ul>
  </div>
</div>
<%= javascript_pack_tag 'card-stack' %>
<%= javascript_pack_tag 'swing' %>


<!-- <div class ="map" id="map-%= m.id %>"
                data-markers="%= [{ lat: @lat, lng: @lng }, { lat: "#{m.restaurant.latitude}", lng: "#{m.restaurant.longitude}" }].to_json %>"
                >
              </div> -->
