<div id="viewport">
  <ul class="stack">
    <% @meals.each do |m| %>
    <li class="flip-container" >
      <div class="flipper" ontouchend="this.classList.toggle('hover-active');">
        <div class="front">
          <div class="card-photo" style= "background-image: url('<%= m.photo %>'); "></div>
          <div class="card-header">
            <p class="card-meal-name"><%= m.name %></p>
            <p class=" card-meal-price"><%=humanized_money_with_symbol(m.price) %></p>
          </div>
        </div>
        <div class="back">
            <p><%= m.name %></p>
             <p><%=humanized_money_with_symbol(m.price) %></p>
             <div
              id="map-<%= m.id %>"
              style="width: 250px;
              height: 250px;"
              data-markers="<%= @user_to_restaurant_marker.to_json %>"
            ></div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<script>
  <% @meals.each do |m| %>
const mapElement = document.getElementById('map-<%= m.id %>
');
if (mapElement) { // don't try to build a map if there's no div#map to inject in
  const map = new GMaps({ el: '#map', lat: 0, lng: 0 });
  const markers = JSON.parse(mapElement.dataset.markers) || [];
  if (markers.length === 0) {
    map.setZoom(2);
  } else if (markers.length === 2) {
    map.addMarkers(markers);

    map.setCenter(markers[0].lat, markers[0].lng);
    map.setZoom(12);
  } else {
    map.addMarkers(markers);
    map.fitLatLngBounds(markers);
  }
  <% end %>
}</script>

<%= javascript_pack_tag 'card-stack' %>
<%= javascript_pack_tag 'swing' %>
