<div class="foodie-wrapper">
<div id="viewport">

  <ul class="stack">
    <% @meals.each do |m| %>
    <li class="flip-container" >
      <div class="flipper">

        <div class="front">
          <div class="touchable-front">
            <div class="card-photo" data-background-image="<%= m.photo.gsub(/http\:\/\//, "https://") %>" ></div>

            <div class="card-header">
              <h2 class="card-meal-name"><%= m.name.split(" ").first(3).join(" ") %></h2>
              <h2 class=" card-meal-price"><%=humanized_money_with_symbol(m.price) %></h2>
            </div>
          </div>
        </div>

        <div class="back">
          <div class="touchable-back">
          	<% if @lat && @lng %>
              <div class ="map" id="map-<%= m.id %>"
                data-markers="<%= [{ lat: @lat, lng: @lng }, { lat: "#{m.restaurant.latitude}", lng: "#{m.restaurant.longitude}" }].to_json %>"
                ></div>
          	<% end %>
              <div class="card-info">
                <h2><%= m.name %></h2>
                <p><%= m.description %></p>
              </div>
              </div>
            <div class="card-button">
              <form action="/meals/<%= m.id %>/orders/new">
                <button type="submit">Order now!</button>
              </form>
            </div>
          </div>
        </div>

      </li>
      <% end %>
      <!-- TUTORIAL -->
      <li class="flip-container" >
        <div class="flipper" id="tutorial-card">
          <div class="front">
            <div class="touchable-front card-centered-content">
              <div class="card-instructions">
                <h2><span>Touch</span> to see more details!</h2>
              </div>
            </div>
          </div>

          <div class="back">
            <div class="touchable-front">
              <div class="card-instructions">
                <h2>Don't like it? Just <span>swipe</span> to discard</h2>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
  <%= javascript_pack_tag 'card-stack' %>
  <%= javascript_pack_tag 'swing' %>


